.carousel-item{
    height: 500px;
    background: black;
    color: white;
    position: relative;
}
.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.head{
    background-color: #9F2B2C;
    width:100vw;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.nav a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.Sobre{
    background-color: #101010;
    height: 600px;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center
}
.Quem{
    background-color: #101010;
    height: 300px;
    width: 80vw;
    padding-left: 50px;
    padding-bottom: 200px;
    
}
.listagem h2{
    font-size: 40px;
    font-weight: 30px;
}

.listagem p{
    font-size: 25px;
    font-weight: 20px;
    font-display: 10px;
    text-align: justify;
    width: 1000px;
    padding-left: 70px;
}
.album{
    width: 100vw;
    height: 700px;
}
.alb1{
    background-image:url(Img/GarotinAlb1.png);
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.alb1 h2{
    font-size: 55px;
    color: white;
}
.alb2{
    background-image:url(Img/GarotinAlb2.png);
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alb2 h2{
    font-size: 55px;
    color: white;
}
.alb3{
    background-image:url(Img/GarotinAlb3.png);
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alb3 h2{
    font-size: 55px;
    color: white;
}
.botao{
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    margin-top: 20px;
}
.botao a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.agenda{
    background-color: #355D67;
    width: 70vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.agendabg{
    background-color: #FEF3B1;
    width: 100vw;
    height: 800px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.agendabg h2{
    color: #9F2B2C;
    font-size: 50px;
    align-self: flex-start;
    margin-left: 160px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead tr{
        padding-bottom: 20px;
        text-transform: uppercase;
        color: white;

}

.footer{
    background-color: #1b1b1b;
    color: #f0f0f0;
    padding: 40px 20px; 
    text-align: center; 
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    display: flex;
    flex-direction: column;
}
.chamada{
    width: 100vw;
    height: 500px;
}
.chamada img{
    width: 100vw;
    height: 400px;
    object-fit:cover;
}
.albunss{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-image: linear-gradient(to bottom,#222222 5%,#2E1B1C 30%,#421112 65%,#6F0407 100%);
}
.venda1{
    display: flex;
    flex-direction: column;
    width: 250px;
    color: white;
}
.venda1 button{
    cursor: pointer;
    width: 40px;
    height: 30px;
    border: none;
}
.venda1 img{
    width: 300px;
    border-radius: 20px;
}
/*carrosel*/
.slider{
    margin: 0 auto;
    width: 100vw;
    height: 500px;
    overflow: hidden;
}
.slide{
    width: 400%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s
}

.slide img{
    width: 100vw;
}

.manual-navigation{
    position: absolute;
    width: 100vw;
    margin-top: -35px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .Primeiro{
    margin-left: 0;
}

#radio2:checked ~ .Primeiro{
    margin-left: -400%;
}

.navigation div{
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.navigation{
    position: absolute;
    width: 100vw;
    margin-top: 463px;
    display: flex;
    justify-content: center;
}

.navigation div:not(:last-child){
    margin-right: 40.8px;
    margin-top: 1.8px;
}

#radio1:checked ~ .navigation .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation .auto-btn2{
    background-color: white;
}
